@using EntidadesCompartidas.Entidades;
@model NoTripulada
@{Layout = "_Layout";}
@{
    ViewData["Title"] = "Home Page";


        <table class="table-dark" summary="Naves Lanzadas" border="1">
            <thead>
                <tr>
                    <th scope="col">Velocidad</th>
                    <th scope="col">Sistema de propulsion</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Empuje</th>
                    <th scope="col">Se encuentra en actividad</th>
                    <th scope="col">Codigo de motor</th>
                    <th scope="col">En que planeta se encuentra</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Velocidad KM/H</td>
                    <td>@Model.SistemaDePropulsion</td>
                    <td>@Model.Peso</td>
                    <td>@Model.Empuje</td>
                    <td>@Model.Actividad</td>
                    <td>@Model.TipoMotor.CodFabrica</td>
                    <td>@Model.LugarDeEstudio.Nombre</td>
                </tr>
            </tbody>
        </table>
}